:root {
  --main-color: grey;
  --accent-color: #fff;
  --accent-color2: rgb(231, 71, 106);
  --inactive-color: rgb(107, 74, 74);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app general styling */

.fs {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: linear-gradient(-45deg, rgb(31, 31, 31) 0%, rgb(48, 48, 48) 100%);
  color: white;
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.938);
  flex-direction: column;
  z-index: 1000;
  color: #fff;
}

/* modal */

.modal-text {
  font-size: 1.3rem;
  margin: 1rem;
}

.btn-modal {
  height: 2.5rem;
  width: 6rem;
  margin: 0.5rem;
  border: none;
  background: var(--inactive-color);
  color: #fff;
  border-radius: 3px;
  transition: all .5s;
}

.btn-modal:hover {
  background: var(--accent-color2);
}

/* status block styling */

.completion-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  opacity: 0.9;
}

#progress-status {
  position: absolute;
  top: 0;
  border: none;
  width: 100%;
  height: 0.3rem;
}

#progress-status::-webkit-progress-bar {
  background: #FFF;
}

#progress-status::-webkit-progress-value {
  background: var(--accent-color2);
  transition: all .7s;
}

.completion-notify {
  position: absolute;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  transition: all .5s;
  user-select: none;  
}

.completion-notify.complete {
  color: var(--accent-color2);
}

.progress {
  float: right;
}

.timer {
  float: left;
}

/* todo styling */

.todo-container {
  position: relative;
  box-sizing: border-box;
  width: 30rem;
  height: 40rem;
  padding: 1em;
  background: rgb(45, 45, 45);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 5px rgb(35, 35, 35);
  overflow: hidden;
}

#task-list {
  list-style: none;
  height: 70%;
  width: 80%;
  text-align: left;
  overflow-y: auto;
  line-height: 2rem;
}

#task-list::-webkit-scrollbar {
  width: 8px;
}

#task-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.452);
	border-radius: 10px;
}

#task-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background: grey;
}

#task-list li {
  position: relative;
  cursor: pointer;
  transition: all .5s;
  word-wrap: break-word;
}

li::first-letter {
  text-transform: uppercase;
}

li input {
  position: absolute;
  left: -2rem;
  transform: translateY(50%);
}

#task-list li:hover {
  font-size: 1.05rem;
}

#task-list li.complete {
  text-decoration: line-through;
  color: grey;
}

/* menu section styling */

.menu-container {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  bottom: 0;
  opacity: 0.9;
}

.menu-item {
  width: 100%;
  box-sizing: border-box;
}

/* nav */

.menu-nav {
  box-sizing: border-box;
  padding: 0.6rem 0.8rem;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  height: 100%;
}

.nav-info {
  display: flex;
  align-items: center;
  position: relative;
}

.info-popup {
  position: relative;
  background: rgba(0, 0, 0, 0.301);
  color: #fff;
  bottom: 180%;
  padding: 1rem;
  border-radius: 8px 8px 8px 0;
}

.info-popup span {
  display: block;
}

.user-input {
  height: 40%;
}

svg {
  width: 20px;
}

.trash-can-svg {
  float: right;
  fill: rgb(139, 139, 139);
}

.trash-can-svg:hover {
  fill: #fff;
  transition: all .4s;
}

.info-svg {
  transition: all .4s;
}

.info-svg path {
  transition: all .4s;
  fill: rgb(139, 139, 139);
}

.info-svg:hover {
  transform: rotate(45deg);
}

.info-svg:hover path {
  fill: #fff;
}

.user-input form {
  height: 100%;
}

.input {
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  height: 100%;
}

.field {
  width: 80%;
  z-index: 4;
}

.sbmt-btn {
  width: 20%;
  background: var(--accent-color2);
  color: #fff;
  z-index: 5;
  box-shadow: 0 0 4px var(--accent-color2);
  transition: all .6s;
}

.sbmt-btn:disabled {
  background: var(--inactive-color);
  color: #AAA;
  box-shadow: inset 1px 0 3px rgb(36, 36, 36);
}

@media (max-width: 35rem) {
  .todo-container {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}